* {
	box-sizing:  border-box;
}

@font-face {
	font-family: 'dax';
	src: url('../fonts/dax-regular.eot');
	src: url('../fonts/dax-regular.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/dax-regular.woff') format('woff'), 
	url('../fonts/dax-regular.ttf') format('truetype'), 
	url('../fonts/dax-regular.svg') format('svg');
	font-weight: 300;
}

a {
	color: #800080;
}

ul {
	padding-left: 20px;
}

h4,h3,h2 {
	padding-top: 0;
	margin-top: 0;
}

body {
	margin: 0;
	background: url(../images/content_bg.png);
	height: 100%;
	font-family: Dax, Verdana, 'Lucida Sans Unicode', 'Lucida Grande', Garuda, sans-serif;
	font-size: 12px;
}

html {
	height: 100%;
}

#wrap #headSpace{
	position: static;
	height: 90px;
}

#wrap #header{
	min-height: 90px;
	width: 100%;
	min-width: 400px;
	position: fixed;
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	z-index: 999;
	border-bottom-style: solid;
	border-bottom-color: #461F44;
	border-bottom-width: thin;
	box-shadow: 0px 0px 3px #461F44;
	font-size: 14px;
}

#wrap #header #logo img{
	width: 200px;
}

@media all and (min-width: 951px){
	#menuContainer{
		position: relative;
		max-width: 70%;
		min-width: 400px;
		margin: 0 auto;
	}

	#logo{
		position: relative;
		top: 5px;
	}
}
@media all and (max-width: 950px){
	#menuContainer{
		position: relative;
		max-width: 100%;
		min-width: 200px;
		margin: 0 auto;
	}

	#logo{
		position: relative;
		max-width: 75%;
		min-width: 400px;
		margin: 0 auto;
		top: 10px;
	}
}

#content{
	min-height: 80%;
	height: 80%;
}

@media all and (min-width: 801px){
	#container{
		position: relative;
		background: #FFFFFF;
		max-width: 70%;
		min-width: 400px;
		min-height: 100%;
		margin: 0 auto;
		box-shadow: 0px 0px 30px #888888;
	}
}

@media all and (max-width: 800px){
	#container{
		position: relative;
		background: #FFFFFF;
		width: 100%;
		max-width: 100%;
		min-width: 200px;
		min-height: 100%;
		margin: 0 auto;
		box-shadow: 0px 0px 30px #888888;
	}
}

#highlights{
	position: relative;
	top: 0;
	overflow: hidden;
}

#highlights img{
	width: 100%;
}

#highlights #webelieve img{
	position: absolute;
	width: 40%;
	min-width: 350px;
	left: 0;
	bottom: 0;
	border-radius: 0px 5px 0px 0px;
	z-index: 100;
}


#welcome{
	width:90%;
	color: #7A7A7A;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 12pt;
	line-height: 25px;
	letter-spacing: 1px;
}


#expando{
	width: 90%;
	margin: 0 auto;
}

#services{
	margin: 0 auto;
	margin-top: 10px;
	width: 100%;
}

#services h4{
	color: #404040;
}

#services p{
	color: #474747;
	margin: 3px 10px;
	font-family: Dax, verdana;
}

#publications{
	color: #303030;
}

#publications p{
	margin: 3px 10px;
	font-family: Dax, verdana;
}

#date{

	color: #404040;
	margin-left: 4%;
	font-size: 11pt;
}

#footer {
	width: 100%;
	background: #A8A8A8;
	margin: 120px 0;
	margin-bottom: 0px;
	bottom: 0;
	font-size: 8pt;
	color: #505050;
}



#footer .row{
	margin-left: 0px;
	margin-right: 0px;
	background-color: #949494;
}

#footer h1{
	text-align: center;
	color: white;
	margin-top: 10px;
	font-size: 20px;
}

#footer a {
	color: #505050;
}

#footer  .nav  li  a {
	padding: 2px 15px;
}

#footer  .nav  li  a:hover {
	background-color: #919191
}

#intro{
  width:90%;
  color: #7A7A7A;
  margin: 0 auto;
  margin-top: 0px;
	margin-bottom: 20px;
  font-family: Dax, Verdana;
  font-size: 12pt;
  line-height: 25px;
  letter-spacing: 1px;
}

.no-pad .col-md-9 {
	padding-left: 0;
}
.no-pad .col-md-3 {
	padding-right: 10px;
}

