* {
	box-sizing:  border-box;
}

a {
	color: #F030F0;
}

body {
	margin: 0;
	background-color: #EEEEEE;
	height: 100%;
	font-family: Dax, Verdana;
}

html {
	height: 100%;
}

#wrap #headSpace{
	position: static;
	height: 90px;
}

#wrap #header{
	min-height: 90px;
	width: 100%;
	min-width: 400px;
	position: fixed;
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	z-index: 999;
	box-shadow: 0px 1px 8px #461F44;
}

#wrap #header img{
}

#menuContainer{
	position: relative;
	max-width: 70%;
	min-width: 400px;
	margin: 0 auto;
}

#logo{
	position: relative;
	max-width: 75%;
	min-width: 400px;
	margin: 0 auto;
	top: 10px;
}

#content{
	min-height: 80%;
	height: 80%;
}

#container{
	position: relative;
	background: #FFFFFF;
	max-width: 70%;
	min-width: 400px;
	min-height: 100%;
	margin: 0 auto;
	box-shadow: 0px 0px 30px #888888;
}

#highlights{
	position: relative;
	top: 0;
	overflow: hidden;
	max-height: 350px;
}

#highlights img{
	width: 100%;
}

#highlights #webelieve img{
	position: absolute;
	width: 40%;
	min-width: 350px;
	left: 0;
	bottom: 0;
	border-radius: 0px 5px 0px 0px;
	z-index: 100;
}


#welcome{
	width:90%;
	color: #7A7A7A;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 12pt;
	line-height: 25px;
	letter-spacing: 1px;
}


#expando{
	width: 80%;
	margin: 0 auto;
}

#services{
	margin: 0 auto;
	margin-top: 10px;
	width: 100%;
}

#services h4{
	color: #404040;
}

#services p{
	color: #474747;
	margin: 3px 10px;
	font-family: Dax, verdana;
}

#publications{
	color: #303030;
}

#publications p{
	background: transparent url(/~freakazo/Lawler/themes/lawler/images/publication.png) left 8px no-repeat;
	background-position: relative;
	background-position-x: 3.2%; 
}

#date{

	color: #404040;
	margin-left: 4%;
	font-size: 11pt;
}

#footer {
	width: 100%;
	background: #A8A8A8;
	margin: 120px 0;
	margin-bottom: 0px;
	bottom: 0;
	color: #505050;
}

#footer .row{
	margin-left: 0px;
	margin-right: 0px;
	background-color: #949494;
}

#footer h1{
	text-align: center;
	color: white;
	margin-top: 10px;
	font-size: 20px;
}

#footer a {
	color: #505050;
}

#footer  .nav  li  a {
	padding: 2px 15px;
}

#footer  .nav  li  a:hover {
	background-color: #919191
}
